.contenedor-about-text{
    width: 70rem;
    margin: 5rem auto 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    border: solid .2rem #000;
    background: #122f3b;
    color: #fff;
    font-size: 2rem;
    line-height: 2;
}