.contenedor-tarjetas h2 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
    border-bottom: solid .1rem #000;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70rem;
    margin: 0 auto;
    border: solid .1rem #000;
    border-radius: .5rem;
    padding: 3rem 2rem;
}

.contenido-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;


    img {
        width: 10rem;
        margin-right: 10rem;
    }
}


.btn-card {
    border-radius: .5rem;
    padding: 1rem 4rem;
    margin-top: 3rem;
    cursor: pointer;
    background-color: #3b6b3b;
    border: .2rem solid #3b6b3b;
    transition: .3s;

    a {
        color: #fff;
    }
}

.btn-card:hover {
    background-color: #f3f5f9;
    border: .2rem solid #3b6b3b;

    a{
        color: #3b6b3b;
    }
}