.divisas-container {
    margin-top: 5rem;
    padding-left: 31rem;

    h2 {
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid .1rem #000;
        width: 15rem;
        margin: 0 auto;
    }

    table{
        margin-left: 0;
    }
}