.header-container {
    background-color: #52565F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;


    .logo {
        background-color: #206D99;
        width: 23rem;

        h1 {
            padding: 2rem 3rem 2rem 1rem;
            font-size: 3rem;
        }
    }

    .tarjetas-container {
        margin-right: 5rem;
    }

    .tarjeta-content {

        h4{
            text-align: center;
            font-size: 1.8rem;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

        svg {
            margin-right: 1rem;
        }
    }


   
}