
.navbar-container-aside{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    padding-top: 12.5rem;
    z-index: 810;
    width: 23rem;
    background-color: #27313A;
    border-bottom: solid .3rem #000;
}

.navbar-content{
    display: flex;
    flex-direction: column;
    
    a{
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: #f3f5f9;
        text-transform: capitalize;
        font-weight: 500;
        padding: 2rem;
        font-size: 1.5rem;

    }

    a:hover{
        background-color: #50A9FD;
    }

    a:last-child{
        display: block;
        text-align: center;
    }

    a:last-child:hover{
        background-color: #EF403D;

    }

}


.link-content{
    display: flex;
    justify-content: flex-start;
    width: 100%;

   svg{
    margin-right: 2rem;
   }
}