.contenedor-projects{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.contenido-section-projects{
    background: #122f3b;
    color: #fff;
    padding: 3rem;
    border-radius: .5rem;
    margin-right: 5rem;
    width: 30rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    border: solid .2rem #000;
}

.contenido-section-projects:hover{
    background-color: #0babe1;
    transform: scale(1.03);
}