
.contenedor-titulo-portfolio-js{
    width: 60rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.contenedor-titulo-aion{
    width: 30rem;
    margin: 5rem auto;
}

.contenedor-imgs-portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    margin-bottom: 8rem;
    margin-top: 5rem;

    a{
        color: #000;
        text-align: center;
    }
}

.contenido-portfolio-js{
    margin: 0 auto;
    
    h4{
        font-weight: 700;
        margin-bottom: 1rem;
    }
  
    img{
        width: 35rem;
        transition: .3s;
        cursor: pointer;
        
    }

    img:hover{
        transform: scale(1.1);
        box-shadow: 1rem 1rem 1.1rem 0.1rem #000;
    }
}

.contenedor-btn-volver{
    text-align: center;
    color: #000;
    background-color: #ccc;
    width: 15rem;
    padding: 2rem;
    font-weight: 700;
    margin: 0 auto;
    border-radius: .5rem;
    border: solid .2rem rgb(145, 144, 144);
    margin-bottom: 5rem;
    
    p{
        margin: 0;
    }
}

.contenedor-btn-volver:hover{
    background-color: rgb(226, 225, 225);
}

