.registro-cliente-container {
    margin-top: 5rem;
    padding-left: 31rem;

    h2 {
        text-align: center;
        border-bottom: solid .1rem #000;
        width: 30rem;
        margin: 0 auto;
    }
}

.form-registro-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-registro-cliente-container{
    margin: 0 auto;
    margin-top: 10rem;
    padding: 0 30rem;
    width: 170rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.form-registro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3rem;

    label{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    input{
        border: solid .1rem #000;
        border-radius: .5rem;
        font-size: 2rem;
        padding: .5rem;
    }

    input[type=email]{
       
       
    }

    select{
        border-radius: .5rem;
        padding: .5rem;
        font-size: 2rem;
    }
}


.form-button-cliente{
    
    button{
        padding: 2rem 4rem;
        border-radius: .5rem;
        background-color: #50A9FD;
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        transition: .5s;
    }

    button:hover{
        background-color: #55CC64;
    }
}