.registro-flete-container {
    margin-top: 5rem;
    padding-left: 31rem;

    h2 {
        text-align: center;
        border-bottom: solid .1rem #000;
        width: 22rem;
        margin: 0 auto;
    }
}

.form-registro-flete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-registro-flete-container{
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 74rem;
    margin: 5rem auto 0 auto;

}


.form-registro-content{
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
   

    label{
        font-size: 1.8rem;
    }

    input{
        border: solid .1rem #000;
        border-radius: .5rem;
        padding-left: .5rem;
        margin-bottom: 1rem;
    }

    select{
        border-radius: .5rem;
        // padding: .5rem;
        font-size: 1.8rem;
    }
}


.form-button-flete{
    
    button{
        padding: 1rem 2rem;
        border-radius: .5rem;
        background-color: #50A9FD;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
        transition: .5s;
    }

    button:hover{
        background-color: #55CC64;
    }
}