@media (max-width: 844px) {
    .contenedor-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
   
    .contenedor-nav-fixed{
        position: static;
        margin: 0;
    }

    .contenido-nav{
        width: auto;
    }

    .contenido-outlet{
        margin: 0;
    }

    .contenedor-header{
        width: auto;

        h1{
            font-size: 3.5rem;
        }
        h2{
            font-size: 2.8rem;
        }
    }

    .contenedor-section-home{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .contenido-section-home{
        width: 30rem;
        height: 15rem;
        margin-bottom: 5rem;

        
    }

   .contenedor-skillset-img{
       display: flex;
       flex-direction: column;
   }

   .contenedor-projects{
       display: flex;
       flex-direction: column;
       
   }

   .contenido-section-projects{
       margin: 0 auto;
       margin-bottom: 5rem;
   }

   .contenedor-titulo-portfolio-js{
       width: 30rem;
   }

   .contenedor-imgs-portfolio{
       display: flex;
       flex-direction: column;
   }

   .contenedor-titulo-react{
       width: 30rem;
       display: flex;
       flex-direction: column;
       img{
           margin: 1rem;
       }
   }


   .contenedor-about-text{
       width: 35rem;
       margin-bottom: 5rem;
       p{
           text-align: justify;
       }
   }

   .contenedor-enlaces{
       display: flex;
       flex-direction: column;

       a:hover{
           transform: none;
           box-shadow: none;
       }
   }

   .contenido-enlace{
       margin: 0 auto;
       margin-bottom: 5rem;
   }

   .hamburguesa{
       display: block;
       text-align: center;
       cursor: pointer;
       padding-bottom: 2rem;
   }

   .contenido-nav-toggle{
       height: auto;
   }

}


